/*------------------------------------------------------------------
Project:        Project name here
Version:        1.0
Last update:    31/12/2017
Author:         Joachim Lind Hadberg
URL:            https://facebook.com/joachimlindhadberg
COMMENT:        This framework is using meyerweb reset css v2.0

00. Header
01. General
02. Typography
03. Container
04. Grid
05. Block spacing
06. Buttons
-------------------------------------------------------------------*/


/*--------------------------------------------------
    00. HEADER START
---------------------------------------------------*/

/*------ HEADER TOP START ------*/
header div.container div.header_top {
  margin: 0;
  padding: 6px 0 0 0;
  background-color: #2D2D2D;
  overflow: hidden;
}


header div.container div.header_top div.header_top_left,
header div.container div.header_top div.header_top_right {
  float: none;
  display: block;
}

@media screen and (min-width: 769px) {
  header div.container div.header_top div.header_top_left,
  header div.container div.header_top div.header_top_right {
    display: inline-block;
  }

  header div.container div.header_top div.header_top_left {
    float: left;
  }

  @media screen and (min-width: 769px) {
    header div.container div.header_top div.header_top_left {
      padding: 0px 0 0 0;
    }
  }

  header div.container div.header_top div.header_top_right {
    float: right;
  }
}

header div.container div.header_topdiv.header_top_left nav ul {
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 769px) {
  header div.container div.header_top div.header_top_left nav ul {
    margin: 0;
    padding: 0;
    text-align: left;
  }
}

header div.container div.header_top div.header_top_left nav ul li {
  margin: 0;
  padding: 6px;
  display: inline-block;
}

header div.container div.header_top div.header_top_left nav ul li a {
  margin: 0;
  padding: 0;
  color: #999999;
  transition: color 0.15s ease-in-out;
}

header div.container div.header_top div.header_top_left nav ul li a:focus,
header div.container div.header_top div.header_top_left nav ul li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

header div.container div.header_top div.sign_in {
  margin: 0;
  padding: 3px 6px;
  text-align: center;
  color: #999999;
  width: 100%;
}

@media screen and (min-width: 769px) {
  header div.container div.header_top div.sign_in {
    display: none;
  }
}

header div.container div.header_top div.header_top_right form {
  margin: 0;
  padding: 0 12px;
}

header div.container div.header_top div.header_top_right form div.form-group {
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 769px) {
  header div.container div.header_top div.header_top_right form div.form-group {
    display: inline-block;
    width: 175px;
  }
}

header div.container div.header_top div.header_top_right form div.form-group input[type="text"],
header div.container div.header_top div.header_top_right form div.form-group input[type="password"] {
  margin: 0;
  padding: 3px 12px;
  width: 100%;
  color: #999999;
  background-color: #4a4a4a;
  border: #4a4a4a;
  border-radius: 25px;
}

@media screen and (min-width: 769px) {
  header div.container div.header_top div.header_top_right form div.form-group input[type="text"],
  header div.container div.header_top div.header_top_right form div.form-group input[type="password"] {
    width: 175px;
  }
}

header div.container div.header_top div.header_top_right form button.btn-primary {
  margin: auto;
  width: 125px;
  background-color: #ea6a53;
  border: #ea6a53;
  border-radius: 25px;
}

@media screen and (min-width: 769px) {
  header div.container div.header_top div.header_top_right form button.btn-primary {
    width: 50px;
  }
}
/*------ HEADER TOP END ------*/

header div.container div.header_logo {
  margin: 12px 0;
}

header div.container div.header_bottom {
  margin: 0;
  padding: 0;
  background-color: #c3c3c3;
  overflow: hidden;
}

header div.container div.header_bottom div.header_bottom_left {
  float: left;
}

header div.container div.header_bottom div.header_bottom_right {
  float: right;
}

header div.container div.header_bottom div.header_bottom_left nav,
header div.container div.header_bottom div.header_bottom_left nav ul {
  margin: 0;
  padding: 0;
}

header div.container div.header_bottom div.header_bottom_left nav ul li {
  margin: 0;
  padding: 6px 12px;
  display: block;
}

@media screen and (min-width: 769px) {
  header div.container div.header_bottom div.header_bottom_left nav ul li {
    padding: 6px;
    display: inline-block;
  }
}

header div.container div.header_bottom div.header_bottom_left nav ul li a {
  color: #FFFFFF;
  text-transform: uppercase;
}

header div.container div.header_bottom div.header_bottom_right form div.form-group input[type="text"] {
  margin: 3px 0 0 0;
  padding: 3px 12px;
  color: #999999;
  border-radius: 25px;
}
