/* Top Banner CSS */
.imgPadFix {
  padding: 0px;
}

.imgFix {
  padding-left: 15px;
}

/* Footer CSS */
.fColor{
  background-color: #2d2d2d;
}

.fStyle {
 color: #a0a0a0;
 padding-top: 30px;
 padding-bottom: 55px;
 margin-left: 25px;
 margin-right: 25px;
}

.fStyle span {
  color: #ffffff;
}

.fStyle a {
  color: #a0a0a0;
}

.fLogo {
  float: right;
  margin-top: -55px;
}
